action-bar {
  background-color: #000000;
  color: white;
}
label {
  margin: 20;
}
.drawer-content {
  background-color: #053140;
  color:#FFFFFF;
  padding-top: 20;
  font-family: 'FontAwesome';
}

.body-content{
  background-color: #212121;
  color:#FFFFFF;
}
.drawer-content label {
  font-size: 20;
  margin: 10 0 15 25;
}
.selected {
  color: #212121;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
}
